#bar {
   width: 0%;
   max-width: 100%;
   height: 6px;
   background-color: #F9DC09;
}

#progressBar {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   background-color: white;
   z-index: 1;
}

.fa-play,
.fa-pause {
   position: absolute;
   bottom: 3px;
   left: 0;
   padding: 20px;
   cursor: pointer;
   font-size: 1.2rem;
   color: rgba(255, 255, 255, 0.6);
   z-index: 100;
}

.fa-play:hover,
.fa-pause:hover {
   color: white;
}

.fa-pause {
   display: none;
}

.owl-carousel {
   position: relative;
   margin: 0 auto;
   padding: 0;
   border: 0;
   height: 100vh;
   overflow: hidden;
}

.owl-carousel .slide {
   position: relative;
   overflow: hidden;
   padding: 0;
   margin: 0;
}

.owl-carousel .slide img {
   width: 100%;
}

.owl-carousel .slide .video i {
   position: absolute;
   top: 0;
   left: 0;
   padding: 20px;
   cursor: pointer;
   font-size: 3rem;
   color: rgba(255, 255, 255, 0.6);
   z-index: 100;
}

.owl-carousel .slide .video i.fa-volume-off {
   display: block;
}

.owl-carousel .slide .video i.fa-volume-up {
   display: none;
}

.owl-carousel .slide .video i:hover {
   color: white;
}

.owl-carousel .slide .video.on i.fa-volume-off {
   display: none;
}

.owl-carousel .slide .video.on i.fa-volume-up {
   display: block;
}

.owl-carousel .slide .row {
   position: relative;
   max-width: 100%;
   width: 100%;
}

.owl-carousel .slide .row .columns {
   padding: 0;
}

.owl-carousel .slide .row .columns:first-child {
   width: 97%;
   -moz-transition-property: all;
   -o-transition-property: all;
   -webkit-transition-property: all;
   transition-property: all;
   -moz-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in-out;
   -o-transition-timing-function: ease-in-out;
   -webkit-transition-timing-function: ease-in-out;
   transition-timing-function: ease-in-out;
}

.owl-carousel .slide .row .columns:last-child {
   position: absolute;
   top: 0;
   left: 97%;
   overflow: hidden;
   float: none;
   height: 100%;
   padding: 60px;
   background-color: white;
   -moz-transition-property: all;
   -o-transition-property: all;
   -webkit-transition-property: all;
   transition-property: all;
   -moz-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in-out;
   -o-transition-timing-function: ease-in-out;
   -webkit-transition-timing-function: ease-in-out;
   transition-timing-function: ease-in-out;
}

.owl-carousel .slide .row .columns:last-child i {
   position: absolute;
   display: block;
   top: 8px;
   left: 8px;
   cursor: pointer;
   padding: 10px;
}

.owl-carousel .slide .row .columns:last-child i.fa-times {
   display: none;
}

.owl-carousel .slide .row .columns:last-child i.fa-long-arrow-left {
   display: block;
}

.owl-carousel .slide.open .row .columns:first-child {
   width: 80%;
}

.owl-carousel .slide.open .row .columns:first-child.wrap-video {
   width: 97%;
}

.owl-carousel .slide.open .row .columns:last-child {
   width: 40%;
   left: 60%;
}

.owl-carousel .slide.open .row .columns:last-child i.fa-times {
   display: block;
}

.owl-carousel .slide.open .row .columns:last-child i.fa-long-arrow-left {
   display: none;
}

.owl-theme .owl-controls {
   position: absolute;
   left: 45px;
   bottom: 15px;
   text-align: left;
}

.owl-theme .owl-controls .owl-page span {
   background-color: white;
}

.fluid-width-video-wrapper {
   width: 100%;
   position: relative;
   padding: 0;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}