/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper {
  display: flex;
  max-width: 1000px;
  position: relative;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100%/2);
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: (100%);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

img {
  transition: all .1s ease-out;
  border: 2px solid white;
}